.navbarWrapper{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    height: 50px;
}
.text{
    color: white;
    text-decoration: none !important;
}